.swal-overlay {
    background-color: rgba(165, 43, 110, 0.45);
  }

.swal-button {
    background-color: #1C4EE2;
}

.swal-button:active {
    background-color: rgb(52, 79, 161);
}

.swal-button--danger{
    background-color: #e64942;
}


/* Profile */
.container {
    text-align: center;
    position: absolute;
    margin: 10px;
  }

  /* Back */
  .back{
    height: 500px;
  }

  .uk-height-medium  h1{

    background: #ef32d9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #89fffd, #ef32d9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #89fffd, #ef32d9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;


  }

  .share{
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  

    font-size: 1.5rem;
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;


  }


.btn-expand {
    position: relative;
    overflow: hidden;
    text-decoration: none;
    display: inline-block;
    height: 50px;
    width: 50px;
    background: #5755d9;
    border-radius: 50%;
    border: solid #5755d9;
    box-shadow: 0 3px 14px -1px rgba(0, 0, 0, 0.25);
    transition: width 0.3s cubic-bezier(0.51, 0.92, 0.24, 1.15), border-radius 0.3s ease, background 0.3s ease, box-shadow 0.3s ease;

  }

  .btn-expand img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-size: 3em;
    line-height: 50px;
    color: white;
    -webkit-transition: opacity 0.3s ease, left 0.3s cubic-bezier(0.51, 0.92, 0.24, 1.15);
    transition: opacity 0.3s ease, left 0.3s cubic-bezier(0.51, 0.92, 0.24, 1.15);
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
  }
  
  .btn-expand span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-size: 20px;
    font-weight: 500;
    color: white;
    display: inline-block;
    line-height: 50px;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
  }

  .btn-expand:hover {
    width: 250px;
    border-radius: 5px;
    background: #5755d9;
    -webkit-transition-delay: 0.3s, 0.2s, 0s;
            transition-delay: 0.3s, 0.2s, 0s;
    box-shadow: 0 8px 20px -2px rgba(0, 0, 0, 0.4);
  }

  .btn-expand:hover img {
    left: 0;
    right: 0;
    width: 50px;
    border-radius: 50%;
 
  }
  
  .btn-expand:hover span {
    opacity: 1;
    -webkit-transition-delay: 0.6s;
            transition-delay: 0.6s;
  }

  .uk-background-fixed {
    position: relative;
  }


/* Logo */

.logo {
  position: absolute;
  top: 5%;
  left: 2.5%;
}


/* Links */

  .links {
    position: absolute;
    top:70%;
    left: 25%;
      
  }

  .links span {
    margin: 0 10px; 
  }

  .facebook {
    color: #4267B2;
  }

  .twitter {
    color: #1DA1F2;
  }

  .instagram {
    color: #E1306C;
  }

  .youtube {
    color: #FF0000;
  }
 
  .github {
    color: purple;
  }

  .linkedin {
    color:#0072b1;
  }

  .pinterest {
    color: #c8232c;
  }
  
  .reddit {
    color: #FF5700;
  }

  .facebook:hover{
    background: #4267B2 ;
    box-shadow: 0 0 5px #4267B2 , 0 0 50px#4267B2 , 0 0 50px #4267B2 , 0 0 200px #4267B2 ;
    color:white;
    border-radius: 10%;
    animation: rotation 5s infinite linear;
  }

  .twitter:hover{
    background: #1DA1F2 ;
    box-shadow: 0 0 5px #1DA1F2 , 0 0 50px#1DA1F2 , 0 0 50px #1DA1F2 , 0 0 200px #1DA1F2 ;
    color:white;
    border-radius: 10%;
    animation: rotation 5s infinite linear;
  }

  .instagram:hover{
    background: #E1306C ;
    box-shadow: 0 0 5px #E1306C , 0 0 50px#E1306C , 0 0 50px #E1306C , 0 0 200px #E1306C ;
    color:white;
    border-radius: 10%;
    animation: rotation 5s infinite linear;
  }

  .youtube:hover{
    background: #FF0000 ;
    box-shadow: 0 0 5px #FF0000 , 0 0 50px#FF0000 , 0 0 50px #FF0000 , 0 0 200px #FF0000 ;
    color:white;
    border-radius: 10%;
    animation: rotation 5s infinite linear;
  }

  .github:hover{
    background: purple ;
    box-shadow: 0 0 5px purple , 0 0 50px purple , 0 0 50px purple , 0 0 200px purple ;
    color:white;
    border-radius: 10%;
    animation: rotation 5s infinite linear;
  }

  .linkedin:hover{
    background: #0072b1 ;
    box-shadow: 0 0 5px #0072b1 , 0 0 50px #0072b1 , 0 0 50px #0072b1 , 0 0 200px #0072b1 ;
    color:white;
    border-radius: 10%;
    animation: rotation 5s infinite linear;
  }

  .pinterest:hover{
    background: #c8232c ;
    box-shadow: 0 0 5px #c8232c , 0 0 50px #c8232c , 0 0 50px #c8232c , 0 0 200px #c8232c ;
    color:white;
    border-radius: 10%;
    animation: rotation 5s infinite linear;
  }

  .reddit:hover{
    background: #FF5700 ;
    box-shadow: 0 0 5px #FF5700 , 0 0 50px #FF5700 , 0 0 50px #FF5700 , 0 0 200px #FF5700 ;
    color:white;
    border-radius: 10%;
    animation: rotation 5s infinite linear;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(356deg);
    }
  }

  .company{
    position: absolute;
    top: 15%;
    left: 0%;
    width: 100%;
    height: 50%;
    background-color: transparent;
  }

  .company a {
    color: white;
  }
  
